@font-face {
  font-family: "DM_Sans";
  src: url(../font/DM_Sans/DMSans-VariableFont_opsz,wght.ttf);
}

@font-face {
  font-family: "Syne";
  src: url(../font/Syne/Syne-VariableFont_wght.ttf);
}

:root {
  --color-white: #f8fafc;
  --color-text: #1e293b;
  --color-primary: #0ea5e9;
  --color-secondary: #f59e0b;
  --color-red: #ef4444;
  --color-green: #22c55e;

  --font-title: "DM_Sans", sans-serif;
  --font-body: "Syne", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  color: var(--color-text);
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

p,
span,
a,
li,
label,
input
button {
  font-family: var(--font-body);
}